<% content_for :title do %>
  <%= @recipe.title %>
<% end %>

<article>
  <header>
    <h2><%= @recipe.title %></h2>
  </header>

  <h3>Ingredients</h3>
  <p><%= @recipe.ingredients %></p>

  <h3>Instructions</h3>
  <p><%= @recipe.instructions %></p>

  <h3>Category</h3>
  <p><%= @recipe.category.name rescue "Uncategorized" %></p>
</article>

<div>
  <%= link_to "Back to recipes", recipes_path %>
  <% if rodauth.logged_in? %>
    | <%= link_to "Edit #{@recipe.title}", edit_recipe_path(@recipe) %>
  <% end %>
</div>
